#btnBlue, #btnRed {
    border: none;
    background-color: #5383E8;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 4px;
    border-radius: 5px;
    position: relative;
}

#btnBlue {
    left: 0;
}

#btnRed {
    left: 410px;
}